body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    padding: 20px;
}

#mapa-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: auto;
    position: relative;
}

#mapa-index {
    background-color: #e0e0e0;
    border-right: 1px solid #ddd;
    padding: 20px;
    margin-right: 20px;
    width: 200px;
    text-align: left;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 1;
}

#mapa-index a {
    display: block;
    padding: 10px 15px;
    margin: 5px 0;
    text-decoration: none;
    border-radius: 5px;
    color: #3498db;
    cursor: pointer;
}

#mapa-index a:hover {
    background-color: #ddd;
}

#mapa-index a.active {
    background-color: #e695d8;
    color: white;
}

#mapa-flujo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1;
    padding-left: 20px;
    position: relative;
    white-space: nowrap;
    z-index: 0;
    justify-content: flex-start;
}

.nodo-principal {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 250px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
    transform: translateY(0);
    color: #030000;
}

.nodo-principal.active {
    background-color: #e695d8;
    color: white;
}

.nodo-principal h2 {
    margin-top: 0;
}

.opciones-container {
    margin-top: 10px;
}

.opcion {
    display: block;
    background-color: #e695d8;
    color: #fff;
    padding: 10px 15px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.opcion:hover {
    background-color: #c664b7;
}
.detalle-container {
    background-color: #f0f0f0;
     border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    display: none;
     min-width: 250px;
    max-width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    z-index: 2;
    white-space: normal;
    transform: translateY(0);
}
 .detalle-container p {
    margin-top: 0;
}

 .detalle-container button {
     background-color: #464849;
    border: none;
    color: white;
    padding: 10px 20px;
      text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
     cursor: pointer;
      border-radius: 8px;
      margin-top: 10px;
}
.flecha {
    position: absolute;
     width: 0;
    height: 0;
    border-top: 10px solid transparent;
   border-bottom: 10px solid transparent;
   border-left: 20px solid #464849;
      margin: 90px 10px 0 -10px;
}
 .nodo-principal:nth-child(2) .flecha {
    margin-left: -20px;
}
.nodo-principal:nth-child(3) .flecha {
    margin-left: -20px;
}
.nodo-principal:nth-child(4) .flecha {
    margin-left: -20px;
}
  .nodo-principal:nth-child(5) .flecha {
     margin-left: -20px;
}
  .nodo-principal:nth-child(6) .flecha {
   margin-left: -20px;
}
 .nodo-principal:nth-child(7) .flecha {
    margin-left: -20px;
}
 .nodo-principal:nth-child(8) .flecha {
    margin-left: -20px;
}
    .nodo-principal:nth-child(9) .flecha {
     margin-left: -20px;
}
     .nodo-principal:nth-child(10) .flecha {
       margin-left: -20px;
}
  .nodo-principal:nth-child(11) .flecha {
    margin-left: -20px;
}
  .nodo-principal:nth-child(12) .flecha{
       margin-left: -20px;
}
    .nodo-principal:nth-child(13) .flecha{
      margin-left: -20px;
}
